<div id="<%= dom_id task %>">
  <div class="">
    <input class="hidden" type="checkbox" id="<%= dom_id task %>">
    <label class="flex items-center h-10 px-2 rounded cursor-pointer hover:bg-gray-100" for="<%= dom_id task %>">
      <span class="flex items-center justify-center w-5 h-5 text-transparent border-2 border-gray-300 rounded-full">
        <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
        </svg>
      </span>
      <span class="ml-4 text-sm"><%= task.description %></span>
    </label>
      <%= button_to task, method: :delete, class: "flex " do  %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
        </svg>
      <% end %>
    <!-- <p>
    <strong>Resolved:</strong>
    <%#= task.resolved %>
  </p> -->
  </div>
</div>
